<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="IE=Edge" http-equiv="X-UA-Compatible" />
		<title>Cozy-Api</title>

		<meta name="theme-color" content="#ffccee" />
		<meta
			property="og:image"
			content="https://badboy.is-a.dev/public/img/homepfp.gif"
		/>
		<meta property="og:url" content="https://badboy.is-a.dev/api" />
		<meta property="og:site_name" content="Cozy-Api" />
		<meta property="og:title" content="Cozy-Api" />
		<meta property="og:description" content="Cozy-Api made by moonbow." />

		<meta property="twitter:card" content="summary" />
		<meta property="twitter:url" content="https://badboy.is-a.dev/api" />
		<meta property="twitter:title" content="Cozy-Api" />
		<meta property="twitter:description" content="Cozy-Api made by moonbow." />
		<meta
			property="twitter:image"
			content="https://badboy.is-a.dev/public/img/homepfp.gif"
		/>
		<link
			rel="shortcut icon"
			href="https://badboy.is-a.dev/public/img/homepfp.gif"
		/>
		<link rel="stylesheet" href="./style.css" />
	</head>

	<body>
    <div class="title">
      <h1> Cozy-Api </h1>
    <p>A cool rest api made by <a href="https://badboy.is-a.dev/">Moonbow</a></p>
    </div>
    <h2>All the available endpoints are listed below:</h2>
		<div class="endpoints">
      <%- routes.map(r=>`<span><a href="/${r.category}/${r.name}">${r.name}</a></span>`).join(" , ") %>
    </div>
	</body>
</html>
